body {
  width: full;
  
  font-size: 100%;
  font-family: sans-serif;
  color: #999;
  background-color: #290f9c;
  text-align: center;
  margin: 0 auto;
}

a {
outline: 0;
text-decoration: none;
}
  a:hover {
    color: #fff;
  }

header {
  background: black;
  height: 40px;
}
  header h1 {
    display: block;
  }
 
  footer {
    display: block;
  }